<div class="container-fluid">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <form class="registration-form">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" required placeholder="First name" tabindex="0"/>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input required placeholder="Last name" class="input" tabindex="1"/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="email" placeholder="Email" class="input" tabindex="2"/>
                                <span class="icon is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="email" placeholder="Confirm Email" class="input" tabindex="3"/>
                                <span class="icon is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="password" class="input" tabindex="4" placeholder="Password"/>
                                <span class="icon is-left">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="password" class="input" tabindex="5" placeholder="Confirm password"/>
                                <span class="icon is-left">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>